<!-- Contact -->
<div class="clearfix" id="contact">
    <!-- Heading -->
    <h3>Contact</h3>
    <hr/>
    <!-- Contact Form -->
    <div class="ui-contact">

        <style>
            .google-maps {
                position: relative;
                padding-bottom: 75%;
            height: 0;
                overflow: hidden;
            }
            .google-maps iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1540.673264334466!2d-119.75657394200263!3d39.438899066350686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8099151aa080e4eb%3A0x6e124451d1ea145c!2s800+S+Meadows+Pkwy%2C+Reno%2C+NV+89521!5e0!3m2!1sen!2sus!4v1446857247541" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>

    </div>
    <!-- Contact Details -->
    <div class="ui-cdetails">
        <!-- Book online -->
        <a href="#/schedule" class="btn btn-block btn-green btn-lg" role="button">
            <i class="fa fa-calendar"></i> Schedule Appointment
        </a>
        <br/>
        <!-- Address -->
        <h4><i class="fa fa-map-marker"></i>800 So. Meadows #1 Reno NV, 89521</h4>
        <!-- Phone -->
        <h4><i class="fa fa-phone"></i><a href="sms:+17755603842">775-560-3842</a></h4>
        <!-- Email -->
        <h4><i class="fa fa-envelope"></i>renohairstyling@gmail.com</h4>
        <!-- Facebook -->
        <h4><i class="fa fa-facebook-official"></i><a href="https://www.facebook.com/Renos-Local-Hairstyling-with-Terriejean-239395022892911/">facebook</a></h4>
    </div>
</div>