<!-- Services -->
<div id="services">
    <!-- Heading -->
    <h3>Services</h3>
    <hr/>
    <div class="row services-info">
        <div class="col-xs-6 col-sm-3">
            <img class="img-rounded" width="100%" src="img/styling.png" alt="styling">
            <h5>Styling</h5>
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-rounded" width="100%" src="img/wash.png" alt="wash">
            <h5>Wash</h5>
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-rounded" width="100%" src="img/coloring.png" alt="coloring">
            <h5>Coloring</h5>
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-rounded" width="100%" src="img/mencuts.png" alt="men cuts">
            <h5>Men Cuts</h5>
        </div>
    </div>
    <!-- Para -->
    <p>
        My goal as your <span class="red">family hair stylist</span> is to help you look and feel your best!!
        I offer an all organic line of hair color, traditional hair color with 100% grey coverage,
        custom haircuts, curl removal, and more. I have over 15 years experience. I make sure all my
        customers feel <span class="green">happy and comfortable</span>, and continue to be happy
        after you leave. My expertise and time I spend on your service, always makes the difference!!
    </p>

    <!-- Quotes -->
    <blockquote><p>"She returned my call right away got me in that day, my haircut was exactly what I wanted. She listened to me and that's very important, I am very happy with the finished results."</p><p><small>Patricia C.</small></p></blockquote>
</div>